h1 {
    color: blue;
    font-size: 50px;
}
.st1 {
    background-color: thistle;
    color: darkslategray;
}
.menu {
    list-style: none;
    background: #d6967d;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
}
.menu li a {
    display: block;
    padding: 0.8rem 1.5rem;
    color: #001078;
}
body {
    background-color: lawngreen;
}